<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PervasiveDigital.Hardware.ESP8266" version="2.0.3" targetFramework="netmf43" />
  <package id="PervasiveDigital.Net" version="2.0.3" targetFramework="netmf43" />
  <package id="PervasiveDigital.Utility" version="2.0.3" targetFramework="netmf43" />
</packages>